* {
  margin: 0;
  padding: 0;
}
.fundo {
  background: linear-gradient(45deg, black, crimson);
  height: 100vh;
  color: white;
  font-family: arial;
}
.calculadora {
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  padding: 15px;
}
button {
  height: 50px;
  width: 50px;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(31,31,31);
  border: none;
  color: white;
  margin: 3px;
}
button:hover {
  background-color: black;
}
#visor {
  width: 207px;
  background-color: white;
  height: 30px;
  margin: 5px;
  font-size: 25px;
  color:black;
  text-align: right;
  padding: 5px;
}
